Adafruit-Blinka==8.68.0
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
adafruit-circuitpython-busdevice==5.2.14
adafruit-circuitpython-connectionmanager==3.1.6
adafruit-circuitpython-neopixel==6.3.18
adafruit-circuitpython-pca9685==3.4.20
adafruit-circuitpython-pixelbuf==2.0.10
adafruit-circuitpython-register==1.11.1
adafruit-circuitpython-requests==4.1.15
adafruit-circuitpython-typing==1.12.3
Adafruit-GPIO==1.0.3
Adafruit-PCA9685==1.0.1
Adafruit-PlatformDetect==3.85.0
Adafruit-PureIO==1.1.11
adafruit-python-shell==1.11.0
args==0.1.0
arrow==1.4.0
binho-host-adapter==0.1.6
blinker==1.9.0
click==8.3.1
clint==0.5.1
colorzero==2.0
Flask==3.1.2
gpiozero==2.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
lgpio==0.2.2.0
MarkupSafe==3.0.3
numpy==2.3.5
pyftdi==0.57.1
pyserial==3.5
python-dateutil==2.9.0.post0
python-time==0.3.0
pyusb==1.3.1
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
setuptools==80.9.0
six==1.17.0
smbus2==0.5.0
spidev==3.8
sysv_ipc==1.1.0
thread==2.0.5
typing_extensions==4.15.0
tzdata==2025.2
Werkzeug==3.1.4
